body{
    background-color: rgb(252, 230, 203);
    align-items: center;
    height: 100vh;
    font-family: Arial;
}
.container{
    background-color: rgb(236, 236, 88);
    border: solid black 3px;
    height: 65%;
    width: 64%;
    margin: 11vh 17.5vw;
    display: flex;
    border-radius: 10px;
}
.text{
    background-color: aquamarine;
    font-family: arial;
    padding: 15% 0;
    margin-top: 2vh;
    font-size: 20px;
    width: 33%;
    align-items: center;
    text-align: center;
    border-top: solid black 3px;
    border-right: solid black 3px;
    border-radius: 0 10px 0 0;
}
.form{
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    
}
#username, #password{
    margin-left: 4vw;
}
#username{
    margin-bottom: 5vh;
}
#loginbtn{
    margin-top: 3vh;
    height: 4.5vh;
    width: 8vw;
    color: white;
    background-color: blueviolet;
}
.forgotpwd{
    display: flex;
    align-items: flex-end;
}
.forgotpwd p{
    font-size: 11.5px;
    margin-bottom: 2vh;
}
.forgotpwd button{
    height: 3.5vh;
    margin-bottom: 1vh;
}