body{
    margin:0;
    font-family: Arial;
}
.container{
	display: flex;
	height: 100vh;
	flex-direction: column;	
	/*background-color: yellow;*/
}
.nav_bar{
	background-color: black;
	display: flex;
	align-items: center;
	height: 10%;
}
.icon{
	color: white;
	margin-left: 3.5%;
}
.contents{
	display: flex;
	height: 90%;
}
.menu_items{
	width: 15%;
	background-color: #ffeb3b;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: .8s;
}
.lists{
	width: 100%;
	height: 98.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom:1.5px solid;
	transition: .8s;
}
.lists:hover{
	background-color: #73e242;
}
.main_body{
	flex: 1;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.close{
	display: none!important;
}
.slide{
	width: 15%
}
.none{
	width: 0%;
}
