<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/changepwd.css" rel="stylesheet">
</head>
<body>
    <div class="container pt-4">
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <form action="/forgotpassword/forgotpasswordpost" method="POST"> 
                <label>New password will be send in your Email</label><br>
                <label>Enter your username </label>
                <div class="form-group pass_show"> 
                    <input type="text" class="form-control" name="username"> 
                </div>
                <div class="form-group"> 
                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </div>
                </form>    
            </div> 
        </div>
    </div>
</body>
</html>