<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inventorySearch.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Inventory Search</title>
</head>
<body>
    <%- include('../partials/header')%>  
    <div class="container">
		<div class="nav_bar">
			<span class="icon" id="icon">
				<i class="fas fa-bars" id="menu"></i>
				<i class="fas fa-bars close" id="cancel"></i>
            </span>
            <span>
                <p style="color:white;margin-left: 5vw;">WELCOME,USER (Owner)  Inventory Search</p>
            </span>
            <button style="margin-left: 58vw;" onclick="window.location='/logout'">logout</button>
		</div>
		<div class="contents">
			<div class="menu_items slide" id="left">
				<div class="lists"><span>Home</span></div>
				<div class="lists"><span>Inventory</span></div>
				<div class="lists"><span>Sales</span></div>
				<div class="lists"><span>Customers</span></div>
				<div class="lists"><span>Logs</span></div>
				<div class="lists"><span>Register</span></div>
			</div>
			<div class="main_body">
                <div class="container1">
                    <div class="searchbox">
                        <div class="searchpart">
                            <div class="txtnbtn">
                                <input type="text">
                                <button>Search</button>
                                <button onclick="window.location='/inventorysearch/addQty'">Add Qty</button>
                                <button>Delete</button>
                                <button>History</button>
                            </div>
                            <div class="checkboxpart">
                                <input type="checkbox" name="byID" id="byID">
                                <p>By ID</p>
                                <input type="checkbox" name="byName" id="byName">
                                <p>By Name</p>
                                <input type="checkbox" name="byQty" id="byQty">
                                <p>By Qty</p>
                                <input type="checkbox" name="bySupplier" id="bySupplier">
                                <p>By Supplier</p>
                                <input type="checkbox" name="byCostp" id="byCostp">
                                <p>By Cost price</p>
                                <input type="checkbox" name="byType" id="byType">
                                <p>By Type</p>
                                <input type="checkbox" name="bySalesp" id="bySalesp">
                                <p>By Sales Price</p>
                            </div>
                        </div>
                        <hr>
                        <div class="sortpart">
                            <input type="checkbox" name="byID2" id="byID2">
                            <p>By ID</p>
                            <input type="checkbox" name="byName2" id="byName2">
                            <p>By Name</p>
                            <input type="checkbox" name="byQty2" id="byQty2">
                            <p>By Qty</p>
                            <input type="checkbox" name="bySupplier2" id="bySupplier2">
                            <p>By Supplier</p>
                            <input type="checkbox" name="byCostp2" id="byCostp2">
                            <p>By Cost price</p>
                            <input type="checkbox" name="byType2" id="byType2">
                            <p>By Type</p>
                            <input type="checkbox" name="bySalesp2" id="bySalesp2">
                            <p>By Sales Price</p>
                            <button>Sort</button>
                        </div>
                    </div>
                    <div class="buttonbox">
                        <button onclick="window.location='/inventorysearch/addInv'">Add Inventory</button>
                    </div>
                </div>
                <div class="container2">
                    <p>Inventory</p>
                </div>
			</div>
		</div>
    </div>
</body>
<script>
    document.querySelector("#icon").addEventListener("click",action);

function action(){
	document.querySelector("#menu").classList.toggle('close');
	document.querySelector("#cancel").classList.toggle('close');
	document.querySelector("#left").classList.toggle('slide');
	document.querySelector("#left").classList.toggle('none');
}
</script>
</html>