<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->

          <!-- Login Form -->
          <form action="/login" method="POST">
            <label id="pwd" class="mt-4 errormsg"><%= message %></label><br>
            <label id="pwd" class="mt-4" for="password">Username:</label>
            <input type="text" id="username" class="fadeIn second mb-0" name="username">
            <label id="pwd" class="mt-4" for="password">Password:</label><br>
            <input type="text" id="password" class="fadeIn third mb-0" name="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="/forgotpassword">Forgot Password?</a>
          </div>
      
        </div>
      </div>
</body>
</html>