<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/saleSearch.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>sale search</title>
</head>
<body>
    <%- include('../partials/header')%>  
    <div class="container">
		<div class="nav_bar">
			<span class="icon" id="icon">
				<i class="fas fa-bars" id="menu"></i>
				<i class="fas fa-bars close" id="cancel"></i>
            </span>
            <span>
                <p style="color:white;margin-left: 5vw;">WELCOME,USER (Owner)  Sales Search</p>
            </span>
            <button style="margin-left: 58vw;" onclick="window.location='/logout'">logout</button>
		</div>
		<div class="contents">
			<div class="menu_items slide" id="left">
				<div class="lists"><span>Home</span></div>
				<div class="lists"><span>Inventory</span></div>
				<div class="lists"><span>Sales</span></div>
				<div class="lists"><span>Customers</span></div>
				<div class="lists"><span>Logs</span></div>
				<div class="lists"><span>Register</span></div>
			</div>
			<div class="main_body">
                <div class="container1">
                    <div class="searchbox">
                        <div class="searchpart">
                            <div class="txtnbtn">
                                <input type="text">
                                <button>Search</button>
                                <button>Delete</button>
                            </div>
                            <div class="checkboxpart">
                                <input type="checkbox" name="byID" id="byID">
                                <p>By ID</p>
                                <input type="checkbox" name="byName" id="byName">
                                <p>By Name</p>
                                <input type="checkbox" name="byQty" id="byQty">
                                <p>By Qty</p>
                                <input type="checkbox" name="byCustomer" id="byCustomer">
                                <p>By Customer</p>
                                <input type="checkbox" name="byDate" id="byDate">
                                <p>By Date</p>
                                <input type="checkbox" name="byType" id="byType">
                                <p>By Type</p>
                                <input type="checkbox" name="byProfit" id="byProfit">
                                <p>By Profit</p>
                                <input type="checkbox" name="byInvID" id="byInvID">
                                <p>By Inv ID</p>
                                <input type="checkbox" name="byprice" id="byprice">
                                <p>By Price</p>
                            </div>
                        </div>
                        <hr>
                        <div class="sortpart">
                            <input type="checkbox" name="byID2" id="byID2">
                                <p>By ID</p>
                                <input type="checkbox" name="byName2" id="byName2">
                                <p>By Name</p>
                                <input type="checkbox" name="byQty2" id="byQty2">
                                <p>By Qty</p>
                                <input type="checkbox" name="byCustomer2" id="byCustomer2">
                                <p>By Customer</p>
                                <input type="checkbox" name="byDate2" id="byDate2">
                                <p>By Date</p>
                                <input type="checkbox" name="byType2" id="byType2">
                                <p>By Type</p>
                                <input type="checkbox" name="byProfit2" id="byProfit2">
                                <p>By Profit</p>
                                <input type="checkbox" name="byInvID2" id="byInvID2">
                                <p>By Inv ID</p>
                                <input type="checkbox" name="byprice2" id="byprice2">
                                <p>By Price</p>
                            <button>Sort</button>
                        </div>
                    </div>
                    <div class="buttonbox">
                        <button onclick="window.location='/salesearch/newSale'">New Sales</button>
                    </div>
                </div>
                <div class="container2">
                    <p>Sales List</p>
                </div>
			</div>
		</div>
    </div>
</body>
<script>
    document.querySelector("#icon").addEventListener("click",action);

function action(){
	document.querySelector("#menu").classList.toggle('close');
	document.querySelector("#cancel").classList.toggle('close');
	document.querySelector("#left").classList.toggle('slide');
	document.querySelector("#left").classList.toggle('none');
}
</script>
</html>